body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
}

header {
    background-color: rgba(0, 93, 2, 0.8);
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

nav li {
    margin: 0 1em;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    flex: 1; /* Let the main content area grow to fill remaining space */
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

img {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 2cm;
     font-size: 2em;
     padding: 20px;
     margin: 20px;
}

button:hover {
    background-color: #3e8e41;
}

footer {
    background-color: rgba(0, 93, 2, 0.8);
    color: #fff;
    padding: 1em;
    text-align: center;
}


 .social-link {
        color: rgb(12, 2, 153);
        text-decoration: none;
 }
    